<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Streamer companion</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="header"></div>
        <div id="container">
            <h1>Test</h1>
            <p>123</p>
            <div class="text-input" id="say-input" role="textbox" contenteditable="true" aria-multiline="true"></div>
            <button onclick="command('say', 'say-input')" type="button">Say</button>
            <div class="text-input" id="prompt-input" role="textbox" contenteditable="true" aria-multiline="true"></div>
            <button onclick="command('ask', 'prompt-input')" type="button">Ask</button>
            <button onclick="location.href=location.href+'cmd/start'" type="button">Start</button>
            <button onclick="location.href=location.href+'cmd/stop'" type="button">Stop</button>
        </div>
        <div id="footer"></div>
        <script>
            function command(cmd, source, separator = "\/") {
                const text = document.getElementById(source).innerHTML;
                let result = "";
                for (let i = 0; i < text.length; i++) {
                    if (result.length) { result += text[i] === " " ? separator : text[i]; }
                    else if (text[i] !== " ") { result += text[i]; }
                }
                location.href = location.href + "cmd/" + cmd + "/" + result;
            }
        </script>
    </body>
</html>